.section__text__p1 {
  text-align: center;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  /* background: white; */
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  /* border-color: rgb(163, 163, 163); */
  text-align: center;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.experience-sub-title {
  /* color: rgb(85, 85, 85); */
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

/* .btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
} */

.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}
.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* .project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
} */

#projects {
  /* position: relative; */
  min-height: calc(100vh - 4rem);
  margin: 0 auto;
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}
.project-title {
  margin: 1rem;
  /* color: black; */
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}
