#contactPage {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactPageTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.clientDesc {
  font-weight: 300;
  font-size: 1rem;
}

.clientImgs {
  margin: 1rem 0rem;
  display: flex;
  flex-wrap: wrap;
}

.clientImg {
  object-fit: cover;
  width: 23%;
  min-width: 9rem;
  margin: auto;
  padding: 0.25rem;
}

#clients {
  padding: 2rem;
}

.contactDesc {
  padding: 1rem;
  font-size: 1.05rem;
  font-weight: 350;
}

.contactDesc.lightMode {
  color: grey;
}
.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name,
.email,
.msg {
  color: white;
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);
}
.name.lightMode,
.email.lightMode,
.msg.lightMode {
  color: black;
  background-color: white;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.submitBtn {
  background: white;
  border: none;
  padding: 0.75rem 3rem;
  border-radius: 0.5rem;
  margin: 2rem;
  cursor: pointer;
}

.submitBtn.lightMode {
  background: black;
  color: white;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 0rem 0.75rem;
}
